:root {
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);

  /* Typography */
  --fs-root: 62.5%;
  --fs-normal: 1.5rem;
  --font-family: font-family: 'Outfit', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  /* Media queries */
  --mq-mobile: 375px;
  --mq-desktop: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fs-root);
}

body {
  font-family: var(--font-family);
  font-size: var(--fs-normal);
  font-weight: var(--fw-regular);
  background-color: var(--color-light-gray);
  min-height: 100vh;
}

.attribution {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
